---
namespace: default
replicas:
  - name: backend
    count: 1
images:
  - name: 844148244640.dkr.ecr.ap-northeast-2.amazonaws.com/lms-horang-frontend
    newTag: sha-49c09bd
  - name: 844148244640.dkr.ecr.ap-northeast-2.amazonaws.com/lms-horang-backend
    newTag: sha-7fa99ef
resources:
  - ../../project-lms-frontend
  - ../../project-lms-backend
