---
namespace: default
replicas:
  - name: frontend
    count: 1
images:
  - name: horang-registry.kr.ncr.ntruss.com/lms-horang-frontend
    newTag: latest
  # - name: horang-registry.kr.ncr.ntruss.com/lms-horang-backend
  #   newTag: latest
resources:
  - ../../project-lms-frontend
  # - ../../project-lms-backend
# patches:
#   - target:
#       kind: Deployment
#     patch: |-
#       - op: add
#       path: /spec/template/spec/imagePullSecrets
#       value: [{ name: dockerconfigjson }]

