apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: backend
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - image: 844148244640.dkr.ecr.ap-northeast-2.amazonaws.com/lms-horang-backend
          name: aws
          ports:
            - containerPort: 9000
          resources:
            requests:
              cpu: 400m
          envFrom:
            - configMapRef:
                name: configmap-mongo
            - configMapRef:
                name: configmap-backend
      imagePullSecrets:
        - name: aws-ecr-creds
