apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: backend
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - image: horang-registry.kr.ncr.ntruss.com/lms-horang-backend:latest
          name: horang-registry
          ports:
            - containerPort: 9000
          resources:
            requests:
              cpu: 1000m
          envFrom:
            - configMapRef:
                name: configmap-mongo
            - configMapRef:
                name: configmap-backend
      # imagePullSecrets:
      #   - name: ncp-ncr-creds
